/* Global styles - write styles that should be shared accross all components */

nav {
    display: flex;
    justify-content: space-between;
}

a {
    cursor: pointer;
}

table {
    width: 100%;
    &.row-selection tr {
        cursor: pointer;
        &.selected {
            background-color: aliceblue;
            td {
                box-shadow: none;
            }
        }
    }
}

.pull-right {
    float: right;
}

.pull-left{
    float: left;
}

img{
    width: 100%;
    max-width: 100%;
}

.home-image{
    background: url("assets/images/amsterdam.jpg") no-repeat;
    opacity: 0.8;
    background-position: center;
    background-size: unset;
    height: 350px;
    width: 100%;
}

.invalid{
    border-left: 2px solid #ec0000;
    padding-left: 13px;
}

.invalid .invoer input, .invalid .invoer textarea{
    box-shadow: inset 0 0 0 1px #ec0000;
}

input[readonly], input[disabled]{
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 0 0 1px #bebebe;
    box-shadow: inset 0 0 0 1px #bebebe;
    background-color: #fff;
    cursor: not-allowed;
}