/* Global styles - write styles that should be shared accross all components */

nav {
    display: flex;
    justify-content: space-between;
}

a {
    cursor: pointer;
}

table {
    width: 100%;
}

.pull-right {
    float: right;
}